<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graficos</title>

</head>

<body>

    <h1>(ppm)</h1>

    <canvas id='myChart'></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <!--llamando websockets -->
    <script>
        const socket = io();

        let counter = 0;
        socket.on("arduino:data", function (dataSerial) {
            console.log(dataSerial);
            myChart.data.labels.push(counter);
            myChart.data.datasets.forEach(dataset => {
                dataset.data.push(dataSerial.value)
            });
            counter++;
            myChart.update();
        });

        // Graficos en tiempo real libreria chart.js

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, { //Nuevo Grafico
            type: 'line',
            data: {
                labels: ['Serial'],
                datasets: [{
                    label: 'Serial',
                    backgroundColor: 'rgb(2,173,94)',
                    BorderColor: 'rgb(52,73,94)',
                    data: []
                }]
            },
            options: {}
        });
    </script>
</body>

</html>