<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no,initial-scale=1.0, maximun-scale=1.0,minimum-scale=1.0">
    <title>System Detca</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/grid.css">
    <link rel="stylesheet" href="/CSS/slider.css">
    <link rel="stylesheet" href="/CSS/Style.css">
    <link rel="stylesheet" href="/CSS/mobile-style.css">
</head>

<body>
    <!-- header  -->
    <div class="go-top">
        <span><i class="fas fa-angle-up"></i></span>
    </div>


    <!-- Menu de navegacion -->
    <header id="header">
        

        <nav class="menu">

            <div class="logo-box">
                <!-- <h1><a href="#"><img src="/img/detcapp.jfif" width ="20%" alt=""></a></h1> -->
                <span class="btn-menu"><i class="fas fa-bars"></i></span>
            </div>

            <div class="list-container">
                <ul class="lists">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="/signup">Acceder</a></li>
                </ul>
            </div>

        </nav>

        <!-- IMG Header de fondo  -->
        <div class="img-header">
            <div class="welcome">
                <h1>SYSTEM DETCA</h1>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p>Se desarrollará un dispositivo que detecte los contaminantes en

                            los ambientes de aprendizaje del Centro Textil y de Gestión Industrial
                            , en conjunto con un software que tiene como objetivo utilizar dispositivos
                            arduino y sensores para la detección de sustancias y partículas contaminantes
                            en el aire del ambiente CTGI</p>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <!-- <button id="empezar">EMPEZAR</button> -->
            </div>
        </div>

        <div class="skew-abajo"></div>

    </header>


    <!-- Slider animado Negro-->
    <section id="wrapper" class="skewed">
        <div class="layer bottom">
            <div class="content-wrap">
                <div class="content-body">
                    <h1>Juntos Podemos Lograrlo</h1>
                    <p>Hacer que los seres humanos tomen conciencia de que están destruyendo el medio ambiente y tomen
                        medidas para prevenir o al menos disminuir la cantidad de contaminación que producimos antes que
                        sea demasiado tarde..

                    </p>
                </div>
                <img src="img/maldad.jpg" alt="">
            </div>
        </div>
        <!-- Slider animado Blanco-->
        <div class="layer top">
            <div class="content-wrap">
                <div class="content-body">
                    <h1>Aire mas Limpio</h1>
                    <p>Nuestro sistema detca facilitara el uso de alertas tempranas de acumulación de gases peligrosos
                        En el
                        CTGI, así como la industria textil y el uso en el hogar</p>
                </div>
                <img src="img/naturaljpg.jpg" alt="">
            </div>
        </div>
        <div class="handle"></div>
    </section>

    <section class="acerca-de">

        <div class="info-container">
            <h1>Acerca de Nosotros</h1>
            <p>Investigación aplicada, pues analizamos las distintas alternativas del
                mercado en cuanto a gases peligrosos, partiendo de la observación,
                entrevista y encuestas en el CTGI. Así construir un sistema integrado para la
                detección, envío de información mediante alertas a través de una base de
                datos con un registro de fecha, hora y tipo de alerta con notificación de
                mensajes de textos y correo electrónico.</p>
            <div class="about-gallery">
                <img src="./img/detca.jpeg" alt="">
                <img src="img/arduino.jpeg" alt="">
            </div>
        </div>
    </section>
    <hr>
    <section class="section-1">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="device">
                        <img src="./img/sensor2.jpg" alt="device" class="" />
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="panel text-left">
                        <h1>¿Por qué Arduino?</h1>
                        <p class="pt-4">
                            Es una plataforma de prototipos electrónicos de código abierto (open-source) basada en
                            hardware y software flexibles y
                            fáciles de usar.
                            Arduino trabaja en entornos a la recepción de entradas y salidad de datos desde una variedad
                            de sensores y puede afectar a su alrededor mediante el control de luces, motores y otros
                            artefactos.
                            Ademas Las placas Arduino son relativamente baratas comparadas con otras plataformas
                            microcontroladoras.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-1">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="device">
                        <img src="./img/SENSORES.png" alt="device" class="" />
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="panel text-left">
                        <h1>SENSOR MQ-2, MQ-3</h1>
                        <p class="pt-4">
                            El funcionamiento de la familia de sensores MQ es técnico. El mismo posee un microtubo
                            de cerámica con óxido de
                            aluminio, una capa sensible de dióxido de estaño , el electrodo de medida y el
                            calentador, que están
                            fijados en su estructura. Este último proporciona las condiciones necesarias para activar el
                            sensor, el mismo no nos
                            mostrará directamente las ppm del gas, Estos datos son tomados mediante cuatro de los seis
                            pines que el dispositivo posee.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FONDO Proyecto  -->


    <!-- <section class="our-projects">
        <div class="skew-arriba"></div>

        <div class="deg-background"></div>

        <div class="ejeZproject">
            <div class="container-project">

                <div class="project-title">
                    <h2>Nuestro Proyecto</h2>
                    <hr>
                </div>

                <div class="project-img">
                    <img src="/img/detca_pcs.jpeg" alt="">
                    <img src="/img/arduino.jpeg" alt="">

                </div>

            </div>
        </div>

        <div class="skew-abajo"></div>

    </section> -->
    <!-- footer -->
    <footer>
        <div class="container-fluid p-0">
            <div class="row text-left">
                <div class="col-md-5 col-sm-5">
                    <h4 class="text-light"></h4>
                    <p class="text-muted">Medellin- SENA -Pedregal</p>
                    <p class="pt-4 text-muted">Copyright ©2019 All rights reserved | System Detca-SENA
                        <span>ADSI</span>
                    </p>
                </div>
                <div class="col-md-5 col-sm-12">
                    <h4 class="text-light">Noticias</h4>
                    <p class="text-muted">Estes actualizado a lo mas nuevo con System Detca</p>
                    <form class="form-inline">
                        <div class="col pl-0">
                            <div class="input-group pr-5">
                                <input type="text" class="form-control bg-dark text-white"
                                    id="inlineFormInputGroupUsername2" placeholder="Email">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-sm-12">
                    <h4 class="text-light">Siguenos</h4>
                    <p class="text-muted"></p>
                    <div class="column text-light">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://kit.fontawesome.com/fde8d86031.js" crossorigin="anonymous"></script>
</body>

</html>